.caixa {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
}

body {
	background-image: url("../imagens/temperatura.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.conversor {
	display: flex;
	flex-direction: column;
	gap: 10px;
}