.caixa {
	display: flex;
	align-items: center;
	height: 600px;
}

.imagem-fundo {
	height: 600px;
	width: 100%;
	background-image: url("../imagens/temperatura.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.conversor {
	display: flex;
	flex-direction: column;
}